<!--Confirm Dialog-->
<div *ngIf="shown" class="confirm-overlay">
  <div class="confirm-dialog">
    <div class="confirm-header">
      {{title}}
    </div>
    <div class="confirm-content">
      <span *ngFor="let message of messages">
        {{message}}
      </span>
    </div>
    <div class="confirm-footer">
      <button autofocus class="button primary-button" (click)="answer('Y')">
        {{locale?.resourceStrings?.YES}}
      </button>
      <button class="button default-button" (click)="answer('YtoAll')">
        {{locale?.resourceStrings?.YES_TO_ALL}}
      </button>
      <button autofocus class="button primary-button" (click)="answer('N')">
        {{locale?.resourceStrings?.NO}}
      </button>
      <button class="button default-button" (click)="answer('NtoAll')">
        {{locale?.resourceStrings?.NO_TO_ALL}}
      </button>
    </div>
  </div>
</div>
