:host {
    flex: 1;
    margin: 10px;
}
.results {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    .grid {
        flex: 1;
        position: relative;
    }
}
