<div class="header main-header">
  <div class="logo-section">
    <span class="logo-mini">
      <img src="../../../images/adept-navbar-logo.png" />
    </span>

    <div class="title">
      <span [hidden]="router?.url != '/login'">
        <b>{{locale?.resourceStrings?.SYNERGIS}} </b>
        <span>{{locale?.resourceStrings?.ADEPT}}</span>
      </span>

      <span [hidden]="auth?.user?.Reviewer || auth?.user?.Creator || router?.url == '/login'">
        <b>{{locale?.resourceStrings?.ADEPT}} </b>Explorer
      </span>
      <span [hidden]="!auth?.user?.Reviewer || router?.url == '/login'">
        <b>{{locale?.resourceStrings?.ADEPT}} </b>Reviewer
      </span>
      <span [hidden]="!auth?.user?.Creator || router?.url == '/login'">
        <b>{{locale?.resourceStrings?.ADEPT}} </b>Creator
      </span>

      <!-- Sidebar toggle button-->
      <div *ngIf="router?.url != '/login'" id="sidetoggle" (click)="toggleSidebar()" class="sidebar-toggle header-button">
          <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
    </div>
  </div>

  <div *ngIf="router?.url != '/login'" class="right-section" >
    
    <div class="header-button" (click)="inboxClicked()">
        <i class="fa fa-gears"></i>
    </div>

    <app-user-menu></app-user-menu>

    <div class="header-button" (click)="inboxClicked()">
        <i class="fa fa-envelope-o"></i>
    </div>

    <app-help-menu></app-help-menu>
  </div>


  <!--
    <span ng-show="vm.sessionTimeoutService.enableSessionTimeOutDebugging" style="background-color:white;">TimeoutMsg: {{vm.sessionTimeoutService.tickMessage}}</span>
    <span ng-show="vm.sessionTimeoutService.enableSessionTimeOutDebugging" style="background-color:white;">LastAction: {{vm.sessionTimeoutService.lastAction}}</span>
    -->

        
<!--
        <li class="dropdown messages-menu">
          <a href="javascript:void(0)" ng-click="vm.inboxClicked()" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-envelope-o"></i>
          </a>

        </li>

        <li class="user-section">
          <div id="user-dropdown" class="user-menu" ng-click="vm.toggleUserMenu()">
            <img src="images/header-user-profile-small.png" class="user-image" alt="User Image">
            <span class="hidden-xs">{{vm.localStorage.userInfo.userName}}</span>
          </div>
          <div click-close show-element="vm.showUserMenu" ng-show="vm.showUserMenu" class="user-dropdown">
            <div class="usd-header">
              <img src="images/header-user-profile.png" class="img-circle" alt="User Image">
              <p>
                {{vm.localStorage.userInfo.userName}}
              </p>
            </div>
            <div class="usd-infosource">
              <div class="is-label">
                <span>{{vm.loginService.resourceStrings["INFORMATION_SOURCE"]}}</span>
              </div>

              <toggle-switch style="width:150px" disabled="true" ng-model="vm.infoSourceValue" on-label="{{vm.loginService.resourceStrings['WIP']}}"
                off-label="{{vm.loginService.resourceStrings['LIBRARY']}}" ng-change="vm.wipLibraryButtonClicked()">

              </toggle-switch>

            </div>
            <div class="usd-footer">
              <div class="pull-left">
                <button class="button default-button" ng-disabled="true">{{vm.loginService.resourceStrings["PROFILE"]}}</button>
              </div>
              <div class="pull-right">
                <button id="signout-button" ng-click="vm.logOut()" class="button primary-button">{{vm.loginService.resourceStrings["LOGOUT"]}}</button>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="javascript:void(0)" ng-click="vm.rightSideBarToggle()">
            <i class="fa fa-gears"></i>
          </a>
        </li>
         -->
  <!-- </ul> -->
  <!-- </div>
 
  </nav> -->



</div>
