@import '../../../globalstyles/common.less';

.nawc-popup {
    max-width: 900px;
}

.nawc-popup-toolbar {
    width: 100%;
    height: 40px;
    background-color: @site-main;
    h4 {
        padding: 0 0 0 10px;
        color: rgb(255,255,255);
    }
}

.error {
    background-color: rgb(181, 49, 49)
}

md-dialog {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.nawc-popup-content {
    padding: 10px 15px 10px 15px;
    span {
        font-size: 11px;
    }
    .popup-check {
        margin-top: 25px;
    }
    .grid-wrapper {
        position: relative;
    }
    .grid-label {
        font-size: larger;
        font-weight: bolder;
    }
}

.nawc-popup-footer {
    margin-top: 15px;
    position: relative;
    height: 40px;
    .action-buttons {
        position: absolute;
        right: 0;
    }
}