@import '../../../globalstyles/common.less';

.nawc-popup-toolbar {
    width: 100%;
    height: 40px;
    background-color: @site-main;
    h4 {
        padding: 0 0 0 10px;
        color: rgb(255,255,255);
    }
}

.error {
    background-color: rgb(181, 49, 49)
}

.footer {
    margin-top: 15px;
    position: relative;
    height: 40px;
    .action-buttons {
        position: absolute;
        right: 0;
    }
}