<div class="toolbar" >
  <div class="tabs">
      <div id="tb-tab-{{tab?.name?.toLowerCase().trim().replace(' ','')}}" class="tab" *ngFor="let tab of toolbarService.tabs" [ngClass]="{ active: tab?.active }" (click)="tabClicked(tab)">
          {{tab?.name}}
      </div>
  </div>
  <div id="toolbar-toggle" (click)="showToolbar = !showToolbar; toolbarToggled()" class="toggle-button">
      <i *ngIf="showToolbar" class="fa fa-angle-up">
          <!-- <md-tooltip md-delay="300" class="custom-tooltip" md-direction="bottom">
              {{$any(locale).resourceStrings.COLLAPSE_TOOLBAR}}
          </md-tooltip> -->
      </i>
      <i *ngIf="!showToolbar" class="fa fa-angle-down">
          <!-- <md-tooltip md-delay="300" class="custom-tooltip" md-direction="bottom">
              {{$any(locale).resourceStrings.EXPAND_TOOLBAR}}
          </md-tooltip> -->
      </i>
  </div>
  
  <div [ngClass]="{ 'tab-content-collapsed': !showToolbar }" class="tab-content">
      <div *ngFor="let item of toolbarService.activeTab?.items" (mouseleave)="item.dropdown = false" [@zoomIn]="zoomIn" class="toolbar-button" [ngClass]="{ 'toolbar-button-enabled': item?.enabled }">
            <div id="tb-button-{{item?.text?.toLowerCase().trim().replace(' ','')}}" class="button-area" (click)="toolbarButtonClicked(item, $event)">
                <!-- <md-tooltip md-delay="300" class="custom-tooltip" md-direction="bottom">
                      {{item.popuptext}}
                  </md-tooltip> -->
                <!--Non ACS-->
                  <div *ngIf="!item?.requiresACS" [ngClass]="{ 'button-disabled': !item.enabled }" class="button-image">
                      <img src="{{item?.icon}}" alt="Icon Missing" />
                  </div>
                  <div *ngIf="!item?.requiresACS" ng-class="{ 'button-disabled': !item.enabled }" class="button-text">
                      <span>{{item.text}}</span>
                  </div>
                  
                  
                  <!--ACS-->
                  <div *ngIf="item?.requiresACS" [ngClass]="{ 'button-disabled': !item?.enabled || !clientService?.connected }" class="button-image">
                      <img src="{{item?.icon}}" alt="Icon Missing" />
                  </div>
                  <div *ngIf="item?.requiresACS" [ngClass]="{ 'button-disabled': !item?.enabled || !clientService?.connected }" class="button-text">
                      <span>{{item.text}}</span>
                  </div>
                  <div *ngIf="item?.requiresACS && !clientService?.connected && !item.enabled" class="disable-overlay"></div>
              </div>
              <div (click)="item.dropdown = !item.dropdown" class="dropdown-arrow" [ngClass]="{'dropdown-arrow-active': item?.children?.length > 0}">
                  <i *ngIf="item?.children?.length > 0" class="fa fa-caret-down"></i>
              </div>
    
              <div class="dropdown" *ngIf="item.dropdown">
                  <ul>
                      <li [ngClass]="{ 'disabled-item': !child.enabled }" id="tb-ddbutton-{{child.text.toLowerCase().trim().replace(' ','')}}" (click)="toolbarButtonClicked(child, $event); item.dropdown = false" *ngFor="let child of item.children">
                          {{child?.text}}
                      </li>
                  </ul>
              </div>
        </div>  
         
  </div>
</div>

<div style="display: none">
    <div #content></div>
</div>
