
<!-- <div class="login-page">
  <div class="login-box">
    <div class="title">
      <h3>{{locale?.resourceStrings?.ADEPT}}</h3>
    </div>
    <form (ngSubmit)="login()" >
        <div class="controls">
            <mat-form-field class="field">
                <input required name="username" [(ngModel)]="user.loginName" matInput placeholder="Username">
              </mat-form-field>
              <div>
                <mat-form-field class="field">
                  <input matInput name="password" [(ngModel)]="user.password" placeholder="Password" type="password">
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="field">
                  <mat-select placeholder="Language" [(ngModel)]="selectedLanguage" name="language">
                    <mat-option *ngFor="let lang of languages" [value]="lang.value">
                      {{lang.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="autologin">
                <mat-checkbox>Enable Auto Login</mat-checkbox>
              </div>
        
      </div>
      <div class="footer">
        <button mat-raised-button color="primary" class="btn-login">Login</button>
      </div>
    </form>
    

  </div>
</div> -->

<div class="login" ng->
  <div class="loginbox">
      <div class="image-holder">

      </div>
      <div class="control-area">
          <div class="login-header">
              <span class="title-1">{{locale?.resourceStrings?.ADEPT}} </span><span class="title-2">2018</span>
              <span *ngIf="locale?.resourceStrings?.ADEPT != 'Adept'"><br />{{locale?.resourceStrings?.POWERED_BY_ADEPT}}</span>
          </div>
          <form (ngSubmit)="login()">
              <fieldset [disabled]="inProcess">
                  <div class="form-group has-feedback">
                      <input [ngModelOptions]="{standalone: true}" autofocus xto-clear id="login-name" name="username" [(ngModel)]="user.loginName" type="text" class="form-control" placeholder="{{locale?.resourceStrings?.LOGIN_PLACEHOLDER}}">
                      <span class="glyphicon glyphicon-user form-control-feedback"></span>
                  </div>
                  <div class="form-group has-feedback">
                      <input [ngModelOptions]="{standalone: true}" xto-clear id="login-password" [(ngModel)]="user.password" type="password" class="form-control" placeholder="{{locale?.resourceStrings?.PASSWORD_PLACEHOLDER}}">
                      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                  </div>
                  <div class="form-group has-feedback">
                      <span>{{locale?.resourceStrings?.LANGUAGE}}</span>
                      <select name="langselect" id="CBAvailableLanguages"
                              class="form-control"
                              [(ngModel)]="selectedLanguage"
                              (change)="languageChanged()">
                          <option *ngFor="let lang of languages" [ngValue]="lang">{{lang?.viewValue}}</option>
                      </select>
                  </div>

                  <div class="bottom">
                      <div class="login-checkbox">
                          <div class="checkbox" ng-show="authService.autoLogin">
                              <label style="padding-left: 0">
                                  <input ng-model="vm.localStorage.userInfo.autoLogin" type="checkbox" value="">
                                  <!-- <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span> -->
                                  <span>{{locale?.resourceStrings?.ENABLE_AUTO_LOGIN}}</span>

                              </label>
                          </div>

                      </div><!-- /.col -->
                      <div class="login-button">
                          <button id="signin-button" [disabled]="inProcess" class="button primary-button pull-right">{{locale?.resourceStrings?.OK}}</button>
                      </div><!-- /.col -->
                  </div>
              </fieldset>
          </form>
          <div class="login-footer">
              <p><i class="fa fa-copyright" style="margin-right:4px;" ng-click="vm.showLocalStorage()"></i><span>{{locale?.resourceStrings?.COPYRIGHT}}</span> <span> {{locale?.resourceStrings?.VERSION}}: {{appVersion}}</span></p>
          </div>
      </div>
  </div>
  <!-- <msg-box></msg-box>
  <div class="col-sm-6 col-md-6 info-message">
      <div class="alert alert-danger" ng-hide="!vm.msgbox.visible">
          <button type="button" class="close" ng-click="vm.msgbox.visible=false;">
              ×
          </button>
          <span class="glyphicon glyphicon-info-sign"></span>
          <strong>{{vm.msgbox.title}}</strong>
          <hr class="message-inner-separator">
          <p>
              {{vm.msgbox.message}}
          </p>
      </div>
  </div> -->



  <!-- <div class="col-sm-6 col-md-6 info-message">
      <div ng-repeat="err in errorHandler.errors track by $index">
          <div class="alert alert-danger">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="errorHandler.errors.splice($index, 1)">
                  ×
              </button>
              <span class="glyphicon glyphicon-info-sign"></span>
              <strong ng-if="err.message.indexOf(vm.usernameOrPwdIsIncorrect) != -1">{{vm.incorrectLogin}}</strong>
              <strong ng-if="err.message.indexOf(vm.usernameOrPwdIsIncorrect) == -1">{{vm.error}}</strong>
              <hr class="message-inner-separator">
              <p>
                  {{err.url}} {{err.status}} {{err.message}}
              </p>
          </div>
      </div>
  </div> -->
  
</div>
<!-- <div class="clientauth-info" ng-show="vm.clientAuthProcess">
  <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
  <span> Waiting for client authentication...</span>
</div>

<div class="clientauth-info clientauth-error" ng-show="vm.clientAuthProcessError">
  <div>
      <span>Could not reach the client for Authentication</span>
  </div>
  <div>
      <span>Ensure Java is installed and that the application is allowed to launch when prompted</span>
  </div>   
</div> -->
