<!-- <div class='login'>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Favorite food" value="Sushi">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>
  </form>

  <form class="form-signin">
    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>
    <label for="inputEmail" class="sr-only" >Username</label>
    <input id="inputEmail" name="name" class="form-control" [(ngModel)]="user.loginName" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" [(ngModel)]="user.password" placeholder="Password" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Auto-Login
      </label>
    </div>
    <mat-form-field>
        <mat-select placeholder="Favorite game" [(ngModel)]="selectedValue" name="game">
          <mat-option *ngFor="let game of games" [value]="game.value">
            {{game.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <button (click)="login()" class="app-button" mat-raised-button color="primary" type="submit">Login</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
  </form>
</div> -->

<div class="login-page">
  <div class="login-box">
    <div class="title">
      <h3>Angular 5 nWAC</h3>
    </div>
    <form (ngSubmit)="login()" >
        <div class="controls">
            <mat-form-field class="field">
                <input required name="username" [(ngModel)]="user.loginName" matInput placeholder="Username">
              </mat-form-field>
              <div>
                <mat-form-field class="field">
                  <input matInput name="password" [(ngModel)]="user.password" placeholder="Password" type="password">
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="field">
                  <mat-select placeholder="Language" [(ngModel)]="selectedValue" name="language">
                    <mat-option *ngFor="let lang of languages" [value]="lang.value">
                      {{lang.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="autologin">
                <mat-checkbox>Enable Auto Login</mat-checkbox>
              </div>
        
      </div>
      <div class="footer">
        <button mat-raised-button color="primary" class="btn-login">Login</button>
      </div>
    </form>
    

  </div>
</div>
