:host {
  flex: 1 1 auto;
  display: flex;
}

.grid-cell {
  font-family: 'Montserrat', sans-serif !important;
  color: red;
}


.grid-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif !important;
  .grid {
    flex: 1;
  }
  .footer {
    flex: 0 0 auto;
    margin: 0;
    padding: 5px 5px 5px 5px;
    display: flex;
    justify-content: right;
    align-items: right;
    justify-items: right;
    //.grid-label {}
    .grid-controls {
      display: flex;
      input {
        margin: 0;
        padding: 2px;
        width: 30px;
        text-align: right;
        border: none;
        &:focus {
            outline: none;
            border: 1px solid rgb(0,123,245);
        }
      }
      .material-icons {
        color: rgb(120, 120, 120);
        cursor: pointer;
      }
      .icon-group {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
