<div class="sidebar">
    <app-searchbox></app-searchbox>
    <mat-list>
        <mat-list-item>
            <button mat-button>
                <i class="material-icons">home</i>
                Home
            </button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <button mat-button>Favorites</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <button mat-button>Saved Searches</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <button mat-button>Library Browser</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <button mat-button>FileGuide</button>
        </mat-list-item>
      </mat-list>
    
    
      
    
    
</div>